<div class="inner-header-social">
				<a href="facebook.com/daniel.zh770" aria-label="Facebook" target="_blank"><i class="penci-faicon fa fa-facebook"></i></a>

						<a href="https://www.instagram.com/dnl.zh770/" aria-label="Instagram" target="_blank"><i class="penci-faicon fa fa-instagram"></i></a>

						<a href="https://www.linkedin.com/in/daniel-govnir-2bb234214/" aria-label="Linkedin" target="_blank"><i class="penci-faicon fa fa-linkedin"></i></a>

						<a href="https://github.com/haveacar" aria-label="Github" target="_blank"><i class="penci-faicon fa fa-github"></i></a>

</div></div>




 <div ><p>Hello! I&rsquo;m Daniel Govnir. I am a python developer! Also I have <span style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">experience&nbsp;</span>Wordpress, content creator on Instagram.</p>
    <p><br></p>
    <h3><strong>Short Biography</strong>&nbsp;</h3>
    <p>I am from Ukraine, Chernovtsy. A very pretty town with amazing story and a mountain perfect for skiing in the winter. My first language is Ukrainian, and &nbsp;Russian language. Learned English and Hebrew throughout the years at school and by courses.</p>
    <p>I also have a college Law college degree and I&apos;m student in Computer Science.</p>
    <p>I moved 3 years ago To Tel Aviv, Israel. I am married I have a child.</p>
    <p><br></p>
    <p><br></p>
    <p><br></p> </div>



<ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>




<div class="container-contact100">
<div class="wrap-contact100">
<form class="contact100-form validate-form">
<span class="contact100-form-title">
Send Us A Message
</span>
<div class="wrap-input100 validate-input" data-validate="Please enter your name">
<input class="input100" type="text" name="name" placeholder="Full Name">
<span class="focus-input100"></span>
</div>
<div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
<input class="input100" type="text" name="email" placeholder="E-mail">
<span class="focus-input100"></span>
</div>
<div class="wrap-input100 validate-input" data-validate="Please enter your phone">
<input class="input100" type="text" name="phone" placeholder="Phone">
<span class="focus-input100"></span>
</div>
<div class="wrap-input100 validate-input" data-validate="Please enter your message">
<textarea class="input100" name="message" placeholder="Your Message"></textarea>
<span class="focus-input100"></span>
</div>
<div class="container-contact100-form-btn">
<button class="contact100-form-btn">
<span>
<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
Send
</span>
</button>
</div>
</form>
</div>
</div>