{% extends 'base.html' %}

{% block title %}
    Tic Tac Toe game
{% endblock %}


{% block body %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Tic Tac Toe</h1>
            <p class="fs-5 text-muted">This is a Classic game on print console. Made by Me</p>
        </div>

    </div>

    <div class="container row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">

            </h3>


            <p><br></p>
            <h4><strong>Study Project</strong>&nbsp;</h4>
            <p></p>
            <P>With beautiful color output in print</P>
            <P>Full correct input check.</P>
            <div class="p-4">
                <img src="{{ ticpage_image }}">
            </div>
            <H4>How to play?:</H4>
            <p>Game for two players who take turns marking the spaces in a three-by-three grid with X or O. </p>
            <p>The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.</p>
            <p>Keyboard input</p>

            <div class="p-4">
                    <h4 class="fst-italic">This project on GitHub</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/haveacar/Tic_Tac_Toe">GitHub</a></li>

                    </ol>
                </div>

            <p><br></p></div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">Hi I'm Daniel Govnir. I am a Python developer! Also, I have experience Wordpress,
                        content creator on Instagram</p>

                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Social</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/haveacar">GitHub</a></li>
                        <li><a href="https://www.instagram.com/dnl.zh770/">Instagram</a></li>
                        <li><a href="https://facebook.com/daniel.zh770">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/in/daniel-govnir-2bb234214/">Linkedin</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
